doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Unostoria
    meta(name="description", content Unistoria)
  body
    include src/sections/banner
    include src/sections/about
    include src/sections/catalogue
    include src/sections/subscribe
    include src/sections/footer