<div class="tw-column-start tw-w-auto tw-gap-5">
  <img
    src="{{ preview }}"
    class="tw-w-full tw-aspect-[3/4] tw-object-cover tw-object-top tw-rounded-sm"
    alt=""
  >

  <div class="tw-column-start tw-w-full tw-gap-4">
    <div class="tw-column-start tw-w-full tw-gap-1">
      <a
        class="tw-text-lg tw-font-light tw-text-text-primary tw-transition-all tw-duration-300 hover:tw-text-text-tertiary tw-truncate tw-w-full"
        href="{{ url }}"
      >
        {{ name }}
      </a>

      <span class="tw-text-base tw-font-extralight tw-text-text-secondary">
        {{ desc }}
      </span>
    </div>

    <div class="tw-flex tw-items-center tw-justify-between tw-w-full">
      <span class="tw-text-lg tw-font-light tw-text-text-primary">
        {{ price }}
      </span>

      <!-- ./src/components/button.html -->
      {{#> button text="В корзину" classes="ui-button_md ui-button_primary" }}{{/button}}
    </div>
  </div>
</div>
